
{% extends 'employee/base.html' %}
{% block content %}
    <div class="text-center">
        {% for obj in alpha %}
            <form class="form-alpha" action="{% url 'alphabet' %}" method="GET">
                <input type="hidden" name="alpha" value="{{ obj.alpha_list }}"></p>
                <button class="btn btn-primary btn-sm"
                        type="submit">{{ obj.alpha_label }}</button>
            </form>
        {% endfor %}
    </div>
    <br>
    <div class="text-center">
        {% for obj in object_list %}
            <li><a href="{% url 'detail' obj.id %}">{{ obj.surname }}</a></li>
        {% endfor %}
    </div>
{% endblock content %}