<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
    <meta charset="UTF-8">
    <title>employees</title>
</head>
<a href="{% url 'main' %}">Главная</a>
{% block content %}
{% endblock %}
</body>
</html>