{% extends 'employee/base.html' %}
{% block content %}
<p>{{ object.surname }}</p>
<p> {{ object.name }}</p>
<p> {{ object.patronymic }}</p>
<p> {{ object.date_birth }}</p>
<p> {{ object.email }}</p>
<p> {{ object.phone }}</p>
<p> {{ object.date_begin }}</p>
<p> {{ object.position }}</p>
<p> {{ object.department }}</p>
{% endblock content %}