{% extends 'employee/base.html' %}
{% block content %}

<form action="{% url 'search' %}" method="GET">
    <p>По отделу<br>
    <input type="text" name="dep" />
    <p>По дате<br>
    <input type="date" name="date" />
    <br>
    <button type="submit">поиск</button>
</form>
<ul>
    {% for obj in object_list %}
        <li><a href="{% url 'detail' obj.id %}">{{ obj }}</a></li>
    {% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'search' %}?page={{ page_obj.previous_page_number }}">назад</a >
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a
                            href="{% url 'search' %}?page={{ page_obj.next_page_number }}">далее</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</ul>
{% endblock content %}